<div>
  <nz-page-header class="site-page-header" nzTitle="User Manager">
  </nz-page-header>

  <nz-table #basicTable [nzData]="users">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>{{ data.user_id }}</td>
        <td>{{ data.username }}</td>
        <td>{{ data.email }}</td>
        <td>
          <a routerLink="/admin/user/edit/{{ data.user_id }}">Action</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a>
        </td>
      </tr>
    </tbody>
  </nz-table>
</div>
